<!-- Navigation moderne pour articles -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
    <div class="container">
        <a class="navbar-brand fw-bold" href="{{ racineURL }}">
            <i class="bi bi-newspaper me-2"></i>Mon Blog
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ racineURL }}">
                        <i class="bi bi-house-door me-1"></i>Accueil
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled text-white" href="#">
                        <i class="bi bi-tags me-1"></i>Catégories :
                    </a>
                </li>
                {# A la place du foreach #}
                {#<?php
                foreach ($categoriesMenu as $category) :
                ?>
                #}
                {% for item in categories %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ racineURL }}category/{{ item.getCategorySlug() }}">
                            {{ item.getCategoryTitle() }}
                        </a>
                    </li>
                {% endfor %}
                {# A la place du foreach #}
                {#
                <?php
    endforeach;
    ?>#}
                <li class="nav-item">
                    <a class="nav-link" href="{{ racineURL }}connection/">
                        <i class="bi bi-gear me-1"></i>Connexion
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>